@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply bg-stone-50 text-stone-900 font-sans;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
